src/main/resources/xml/content_schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Entry" type="contentXml"/>

    <xs:complexType name="contentXml">
        <xs:sequence>
            <xs:element name="content" type="xs:string" minOccurs="1"/>
            <xs:element name="creationDate" type="xs:string" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>